---
import "@styles/manga.css";
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Manga Magazine</title>
		<link
			href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Anton&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<main style="perspective: 1500px;">
			<slot />
		</main>
	</body>
</html>
