---
import "@styles/manga.css";
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Rhaqim's manga</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Anton&display=swap"
			rel="stylesheet"
		/>
		<link rel="icon" type="image/svg+xml" href="/images/character.png" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Rhaqim - A personal manga website" />
		<meta name="theme-color" content="#000000" />
	</head>
	<body>
		<main style="perspective: 1500px;">
			<slot />
		</main>
	</body>
</html>
